/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/

body {
    margin: 0 auto;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 12px;
    line-height: 1.6;
    color: black;
}
div {margin: 0;
padding: 0;}
img {margin: 0;
padding: 0;}
/* HLAVICKA */

.titulek {font-family: 'Raleway', serif;}

.hlavicka {
    background-image: url(images/island-hlavicka.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    color: white;
    text-align: center;
    padding: 20px;
}
.perex {
    color: white;
    text-align: center;
}

.cara_hlavicka {
    color:white;
    width:15vw;
    opacity: 1;
}

.autor {
    opacity: 100%;
    text-align: center;}
/*===================================================*/

/* MENU */
.menu {
    text-align: center;
    text-transform: uppercase;}

/* .li {
    font-weight: bold;} */

ul {
    list-style-type: none;
    padding-left: 0;}

.menu a {
    color: darkgray;
    display: block;
    margin: 5px auto;
    text-decoration: none;
    border-bottom: 1px solid rgba(211, 211, 211, 0.37);
}

.cara_nadpisy {
    background-color: rgb(120, 164, 245);
    opacity: 0.8;
    height: 0.3vh;
    width: 10vw;
    text-align: left;
    padding-left: 0;
    margin-bottom: 2vh;
    position: relative;
    left: -20px;
}
/*=============================================================*/
.obrazekvtextu img {
    display: block;
    width: 100vw;}

/* .foto { */
    /* display: block; */
    /* width: 100%; */
    /* flex-wrap: wrap; */
    /*object-fit: cover;} */

.popisek {
    font-weight: normal;
    color: darkgray;
    text-align: center;
    padding: 0;}

.popisek {
    margin: 0;
    padding: 0;}

.popisek-copy {
    font-weight: normal;}

.popisek a {color: darkgray;}

a {color: darkgray;}

/* OBSAH */
.text {text-align: left;
padding: 5px 20px;}

/* FOTOGALERIE */
.galeriepopis {
   padding: 0.5em;
}
.galerieimg {
    margin: 0;
}
/* PATICKA */
.paticka {
    background: linear-gradient(to top, rgb(211, 211, 211, 0), rgb(211, 211, 211, 1));
}


/* =========================== Responzivita: =================================== */


/* ============== Responzivita: ================= */

/* ============== TABLET ======================= */
@media (min-width:501px) {
    body {font-size: 0.8em;}

    .menu a { 
        display: block;
        border: none;
    }
    
    .menu {
        margin: 1vh 2vw;
        width: 100vw;
        display: inline-grid;
        column-gap: 0;
        grid-auto-columns: auto auto auto auto;
        /* justify-items: stretch; */
    }
 
    .item1 {
        grid-column-start: 1;
        grid-column-end: 1;
        border: 1px solid rgba(211, 211, 211, 0.37);
        border-left: none;
    }

    .item2 {grid-column-start: 2;
        grid-column-end: 2;
        border: 1px solid rgba(211, 211, 211, 0.37);
        border-left: none;
    }

    .item3 {grid-column-start: 3;
        grid-column-end: 3;
        border: 1px solid rgba(211, 211, 211, 0.37);
        border-left: none;}
    
    .item4 {grid-column-start: 4;
            grid-column-end: 4;
            border: 1px solid rgba(211, 211, 211, 0.37);
            border-left: none;
            border-right: none;}
    
    
    .popisek, .popisek a {
        color: white;
        text-align: right;
        position: relative;
        margin-top: -5vh;
        margin-right: 1vw;

    }
  
    .foto {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        margin: 0;
        justify-items: center;
        flex-basis: 100vw;
    }
    
.galerieimg {
    display: flex;
    flex-wrap: wrap; max-width: 50vw;
    justify-content: space-evenly;
    gap: 0;
}


.galeriepopis {
    display: none;}
}