/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
    max-width: 100vw;
    color: black;
}


/* HLAVICKA */

.titulek {
    font-family: 'Raleway', serif;
}
.hlavicka {
    background-image: url(images/island-hlavicka.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    color: white;
    text-align: center;
    padding: 20px;
}
.perex {
    color: white;
    text-align: center;
}

hr {
    color:white;
    width:15vw;
    opacity: 1;
}

.autor {
    opacity: 100%;
    text-align: center;
}
/*===================================================*/

/* MENU */
.menu {
    text-align: center;
    text-transform: uppercase;
}

.li {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.menu a {
    color: darkgray;
    display: block;
    margin: 0 50px;
    text-decoration: none;
    border-bottom: 1px solid rgba(211, 211, 211, 0.308);
}

img {
    display: flex;
    width: 100vw;
}
.galerie {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    margin: 0;
}
.foto {
    flex-wrap: wrap;
    object-fit: cover;
}
.popisek {
    text-align: center;
    font-weight: normal;
    color: darkgray;
}
.popisek-copy {
    font-weight: normal;
}
.popisek a {
    color: darkgray;
}

a {
    color: darkgray;
}
.paticka {
    background: linear-gradient(to top, rgb(211, 211, 211, 0), rgb(211, 211, 211, 1));
}

/* OBSAH */


.text {text-align: left;
padding: 5px 20px;}

/* FOTOGALERIE */




/* PATICKA */
